*{
    margin: 0;
    padding: 0;
}

header{
    background: url(../img/fon.jpg) no-repeat center center / cover; 
    height: 448px;
}

section{
    text-align: center;
}

section img{
    width: 100%;
}

section h3{
    margin-top: 55px;
    margin-bottom: 30px;
}

section h2{
    margin-top: 41px;
}

main{
    text-align: center;
}

main img{
    width: 100%;
}

main h2{
    margin: 100px 0 60px;
}

footer{
    background: #2e3b4b;
    padding: 18px 0;
    text-align: center;
}

footer h2{
    color: white;
}